<div class="content-grid mdl-grid dash-con">

    <div class="content-column mdl-cell mdl-cell--1-col cur-record-con">
        <div class="fixed-con">
            <div class="cur-record">
                <span class="record-head mdl-color--grey-400">Your Point</span>
                <span class="today-point">{{gameBoard.point}}</span>
            </div>
            <div class="cur-record learned">
                <span class="record-head mdl-color--grey-400">Earn Today</span>
                <span class="today-earn">${{gameBoard.earnToday}}</span>
            </div>
            <div class="cur-record earned">
                <span class="record-head mdl-color--grey-400">Last Earned</span>
                <span class="last-earn">${{gameBoard.lastEarned}}</span>
            </div>
            <div class="cur-record">
                <span class="record-head mdl-color--grey-400">Entry Fee</span>
                <span>${{gameBoard.entryFee}}</span>
            </div>
            <div class="cur-record">
                <span class="record-head mdl-color--grey-400">Last Medal</span>
                <span><i class="material-icons">star</i></span>
            </div>
            <div class="cur-record game-type-con">
                <span class="record-head mdl-color--grey-400">Game Type</span>
                <span class="game-type">{{gameBoard.gameType}}</span>
            </div>
        </div>
    </div>

    <div class="content-column mdl-cell mdl-cell--1-col time-panel">
        <div class="fixed-con">
            <div class="game-time">
                <div class="time-view rem-time">
                    <span class="time-counter">0</span>
                    <span class="time-mode">sec</span>
                </div>
                <span class="time-feedback">remaining</span>
            </div>
            <div class="game-time start-time">
                <div class="time-view">
                    <span class="time-counter">0</span>
                    <span class="time-mode">min</span>
                </div>
                <span class="time-feedback">next game</span>
            </div>
            <div class="game-time round">
                <div class="time-view">
                    <span class="time-counter">{{gameBoard.round}}</span>
                </div>
                <span class="time-feedback">round</span>
            </div>
            <div class="game-time phase">
                <div class="time-view">
                    <span class="time-counter">{{gameBoard.phase}}</span>
                </div>
                <span class="time-feedback">phase</span>
            </div>
        </div>
    </div>
    <div class="content-column mdl-cell mdl-cell--4-col game-board-con">
        <div class="fixed cell-4">
        <div class="" style="width: 100%;position: relative">

                <div class="quest-card mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand">
                        <div class="mdl-card__title-text">
                            <span class="quest">{{gameBoard.question}}</span>
                            <span class="quest-icon">?</span></div>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <!--<table class="mdl-data-table mdl-js-data-table mdl-data-table&#45;&#45;selectable mdl-shadow&#45;&#45;2dp">
                            <tbody>
                                <tr><td><i class="material-icons">radio_button_unchecked</i></td><td class="quest-opts">option a is the</td></tr>
                                <tr><td><i class="material-icons">radio_button_unchecked</i></td><td class="quest-opts">option b is the</td></tr>
                                <tr><td><i class="material-icons">radio_button_unchecked</i></td><td class="quest-opts">option c is the</td></tr>
                                <tr><td><i class="material-icons">radio_button_unchecked</i></td><td class="quest-opts">option d is the</td></tr>
                            </tbody>


                        </table>-->
                        <div class="quest-opt-view">
                            <div><i>a</i><span class="quest-opt" >{{gameBoard.option.a}}</span></div>
                            <div><i>b</i><span class="quest-opt">{{gameBoard.option.b}}</span></div>
                            <div><i>c</i><span class="quest-opt">{{gameBoard.option.c}}</span></div>
                            <div><i>d</i><span class="quest-opt">{{gameBoard.option.d}}</span></div>
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border quest-btn" ng-if="!gameBoard.optBtn">

                        <button class="mdl-button mdl-js-button mdl-button--fab option" data-opt="a" disabled>
                            <!--<i class="material-icons">add</i>-->
                            A
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--fab option" data-opt="b" disabled>
                            <!--<i class="material-icons">add</i>-->
                            B
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--fab option" data-opt="c" disabled>
                           C
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--fab option" data-opt="d" disabled>
                            <!--<i class="material-icons">add</i>-->
                            D
                        </button>
                    </div>
                    <div class="mdl-card__actions mdl-card--border quest-btn" ng-if="gameBoard.optBtn">

                        <button ng-click="gameBoard.answer('a')" class="mdl-button mdl-js-button mdl-button--fab option" data-opt="a">
                            <!--<i class="material-icons">add</i>-->
                            A
                        </button>
                        <button ng-click="gameBoard.answer('b')" class="mdl-button mdl-js-button mdl-button--fab option" data-opt="b">
                            <!--<i class="material-icons">add</i>-->
                            B
                        </button>
                        <button ng-click="gameBoard.answer('c')" class="mdl-button mdl-js-button mdl-button--fab option" data-opt="c">
                           C
                        </button>
                        <button ng-click="gameBoard.answer('d')" class="mdl-button mdl-js-button mdl-button--fab option" data-opt="d">
                            <!--<i class="material-icons">add</i>-->
                            D
                        </button>
                    </div>
                </div>

        <!--<div class="content-grid game-btn-con">
            buttons
        </div>-->
        </div>
        </div>
    </div>
    <div class="content-column mdl-cell mdl-cell--2-col game-info-con">
        <!--<div class="cell-2">-->
        <div class="fixed cell-2" style="height: 91.4%;">
            <!--<div>-->
            <div class="info-box mdl-color--grey-500">
                <i>Game Start by 5pm</i>
            </div>
            <div class="mdl-color--white game-phase-con carousel">
                <ul class="" style="width: 1200px;">
                    <li class="cell-2 carousel-item">
                        <h3 class="primary-color">Game Move with Odds</h3>
                        <table class="current-phase">

                            <thead>
                                <tr><th>Phase</th><th></th><th>Odd</th></tr>
                            </thead>
                            <tbody>
                                <tr><td>8</td><td><i class="material-icons">trending_flat</i></td><td>10000</td></tr>
                                <tr><td>7</td><td><i class="material-icons">trending_flat</i></td><td>5000</td></tr>
                                <tr><td>6</td><td><i class="material-icons">trending_flat</i></td><td>2000</td></tr>
                                <tr><td>5</td><td><i class="material-icons">trending_flat</i></td><td>1000</td></tr>
                                <tr><td>4</td><td><i class="material-icons">trending_flat</i></td><td>100</td></tr>
                                <tr><td>3</td><td><i class="material-icons">trending_flat</i></td><td>10</td></tr>
                                <tr><td>2</td><td><i class="material-icons">trending_flat</i></td><td>2.5</td></tr>
                                <tr><td>1</td><td><i class="material-icons">trending_flat</i></td><td>0</td></tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="cell-2 carousel-item">
                        <h3 class="primary-color">Game average point</h3>
                        <ul class="game-trend">
                            <li>
                                <div class="trend-range">
                                    <span>2000 </span> and <span>above</span>
                                </div>
                                <span class="trend-no-users">10000 users</span>

                            </li>
                            <li>
                                <div class="trend-range">
                                    <span>1400</span> - <span> 2000</span>
                                </div>
                                <span class="trend-no-users">10000 users</span>

                            </li>
                            <li>
                                <div class="trend-range">
                                    <span>1200 </span> - <span> 1400</span>
                                </div>
                                <span class="trend-no-users">10000 users</span>

                            </li>
                            <li>
                                <div class="trend-range">
                                    <span>1000 </span> - <span> 1200</span>
                                </div>
                                <span class="trend-no-users">10000 users</span>

                            </li>
                            <li>
                                <div class="trend-range">
                                    <span>751 </span> - <span> 1000</span>
                                </div>
                                <span class="trend-no-users">10000 users</span>

                            </li>
                            <li>
                                <div class="trend-range">
                                    <span>501 </span> - <span> 750</span>
                                </div>
                                <span class="trend-no-users">10000 users</span>

                            </li>
                            <li>
                                <div class="trend-range">
                                    <span>251 </span> - <span> 500</span>
                                </div>
                                <span class="trend-no-users">10000 users</span>

                            </li>
                            <li>
                                <div class="trend-range">
                                    <span>101 </span> - <span> 250</span>
                                </div>
                                <span class="trend-no-users">10000 users</span>

                            </li>
                            <li>
                                <div class="trend-range">
                                    <span>25 </span> - <span> 100</span>
                                </div>
                                <span class="trend-no-users">10000 users</span>

                            </li>
                        </ul>
                    </li>
                </ul>


            </div>
            <div class="mdl-color--white new-comment-con">
                <h4>Share your view</h4>
                <div class="new-comment" placeholder="Your Comment Here" contenteditable="true"></div>
            </div>

            <!--</div>-->
        </div>

        <!--</div>-->
    </div>
    <div class="content-column mdl-cell mdl-cell--2-col comment-con">
        <!--<div class="fixed-con">-->
            <div class="comment-box">
                <ul class="views-con">
                    <li class="user-view" ng-repeat="comment in gameBoard.comments">
                        <div class="view-head">
                            <img src="../../imgs/face6.jpg">
                            <div class="view-detail">
                                <span class="view-user-name">{{comment.lastName}}</span>
                                <span class="view-user-country">{{comment.country}}</span>
                            </div>
                        </div>
                        <p>
                            {{comment.comment}}
                        </p>
                    </li>

                </ul>
            </div>
        <!--</div>-->

    </div>
    <div class="content-column fixed mdl-cell mdl-cell--2-col game-show">

        <div class="ads invest-ads">
            <img src="../../imgs/3MARCH.JPG">
            <span>Your investment is your life</span>
            <p>Invbest in us today and save your tomorow...click <a href="">here</a> to learn more</p>
        </div>
        <div class="ads scholarship-ads">
            <img src="../../imgs/7-JULY.JPG">
            <span>Are you seeking scholarship to a prestigious university</span>
            <p>Invbest in us today and save your tomorow...click <a href="">here</a> to learn more</p>
        </div>
        <div class="ads career-ads">
            <img src="../../imgs/Rocks.jpg">
            <span>Build you career today...</span>
            <p>Invbest in us today and save your tomorow...click <a href="">here</a> to learn more</p>
        </div>

    </div>
</div>

<script>

</script>