<div class="row" style="margin-top: 30px;">
    <div class="col-sm-6 col-sm-offset-3">

        <div class="panel panel-primary">
            <div class="panel-heading">
                Register As MQ HOST
            </div>
            <div class="panel-body">
                <form class="form-horizontal"
                      role="form"
                      name="regForm"
                      ng-submit="adminHost.submit(regForm.$valid)"
                      novalidate>

                    <div class="form-group"
                         ng-class="{'has-error':regForm.userName.$invalid}">

                        <label class="control-label col-sm-3" for="userName">*Username</label>
                        <div class="col-sm-6 input-group">
                            <span class="input-group-addon input-medium"><i class="glyphicon glyphicon-user glyphicon-user"></i></span>
                            <input type="text"
                                   ng-model="adminHost.newHost.username"
                                   class="form-control input-sm"
                                   name="userName"
                                   id="userName"
                                   placeHolder="Username"
                                   required />

                        </div>

                        <!--<div ng-show="regForm.useName.$touched"
                             ng-messages="regForm.userName.$error"
                             ng-messages-include="messages/error-messages.html"
                             class="help-block has-error col-xs-offset-3">
                        </div>-->

                    </div>
                    <div class="form-group"
                         ng-class="{'has-error':regForm.userPassword.$invalid}">

                        <label class="control-label col-sm-3" for="userPassword">*Password</label>
                        <div class="col-sm-6 input-group">
                            <span class="input-group-addon input-medium"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password"
                                   ng-model="adminHost.newHost.password"
                                   class="form-control input-sm"
                                   id="userPassword"
                                   name="userPassword"
                                   placeholder="Password"
                                   ng-minlength="6"
                                   ng-maxlength="15"
                                   required />
                        </div>

                        <!--<div ng-show="regForm.userPassword.$touched"
                             ng-messages="regForm.userPassword.$error"
                             ng-messages-include="messages/error-messages.html"
                             class="help-block has-error col-xs-offset-3">
                        </div>-->

                    </div>

                    <div class="form-group"
                         ng-class="{'has-error':regForm.userConfirmPassword.$invalid}">

                        <label class="control-label col-sm-3" for="userConfirmPassword">*Confirm Password</label>
                        <div class="col-sm-6 input-group">
                            <span class="input-group-addon input-medium"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password"
                                   confirm-password="adminHost.newHost.password"
                                   ng-model="adminHost.newHost.confirmPassword"
                                   ng-model-options="{updateOn: 'blur'}"
                                   class="form-control input-sm"
                                   id="userConfirmPassword"
                                   name="userConfirmPassword"
                                   placeholder="Confirm Password"
                                   required />
                        </div>

                        <!--<div ng-show="regForm.userConfirmPassword.$touched"
                             ng-messages="regForm.userConfirmPassword.$error"
                             ng-messages-include="messages/error-messages.html"
                             class="help-block has-error col-xs-offset-3">
                        </div>-->

                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label text-right">
                            First Name:
                        </label>
                        <div class="col-xs-6 input-group">
                            <span class="input-group-addon input-medium"><i class="glyphicon glyphicon-briefcase"></i></span>
                            <input type="text"
                                   ng-model="adminHost.newHost.first_name"
                                   class="form-control input-sm"
                                   name="country"
                                   id="firstname"
                                   placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label text-right">
                            Last Name:
                        </label>
                        <div class="col-xs-6 input-group">
                            <span class="input-group-addon input-medium"><i class="glyphicon glyphicon-briefcase"></i></span>
                            <input type="text"
                                   ng-model="adminHost.newHost.last_name"
                                   class="form-control input-sm"
                                   name="country"
                                   id="lastname"
                                   placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            male
                            <input type="radio" ng-model="adminHost.newHost.sex" name="sex" value="male" >
                        </label>
                        <label>
                            female
                            <input type="radio" ng-model="adminHost.newHost.sex" name="sex" value="female">
                        </label>

                        {{adminHost.newHost.sex}}
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label text-right">
                            Country:
                        </label>
                        <div class="col-xs-6 input-group">
                            <span class="input-group-addon input-medium"><i class="glyphicon glyphicon-briefcase"></i></span>
                            <input type="text"
                                   ng-model="adminHost.newHost.country"
                                   class="form-control input-sm"
                                   name="country"
                                   id="host-country"
                                   placeholder="Host Country">
                        </div>
                    </div>


                    <div class="pull-right">
                        <button type="submit"
                                class="btn btn-primary"
                                ng-disabled="regForm.$invalid || regForm.$pending">
                            Register
                        </button>
                    </div>

                </form>

            </div>

            <div class="panel-footer"></div>
        </div>

    </div>

</div>

