<!--
<div class="access-view">
    <div class="access-content">
        <div class="access-back">
            <ul class="access-link">
                <li ><a href="#login" class="access-link-item" ng-click="loginView();">Sign In</a> </li>
                <li ><a href="#register" class="access-link-item" ng-click="registerView();">{{testName}}</a> </li>
            </ul>

        </div>
        <div class="access-auth" style="display: none" >
            <div ui-view>

            </div>
        </div>
    </div>
    <div id="footer" class="main-footer">
        This is the access footer
    </div>
</div>-->
