<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--<base href="access">-->
    <title>QuestPlay | Your access is here</title>

    <link rel="stylesheet" href="../../libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../css/global_style.css" />
    <link rel="stylesheet" href="access_style.css">

    <!-- build:scripts -->

    <!-- jQuery -->
    <script src="../../libs/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <!--<script src="libs/bootstrap/dist/js/bootstrap.js"></script>-->
    <!-- lodash -->
    <!--<script src="libs/lodash/dist/lodash.js"></script>-->

    <!-- Angular Core -->
    <script src="../../libs/angular/angular.js"></script>
    <script src="../../libs/angular-resource/angular-resource.js"></script>
    <script src="../../libs/angular-route/angular-route.js"></script>
    <script src="../../libs/angular-messages/angular-messages.js"></script>

    <!-- Angular UI -->
    <!--<script src="libs/angular-bootstrap/ui-bootstrap.js"></script>-->
    <!--<script src="libs/angular-ui-utils/ui-utils.js"></script>-->
    <script src="../../libs/angular-ui-router/release/angular-ui-router.js"></script>
    <!--<script src="libs/angular-ui-select/dist/select.js"></script>-->

    <!-- Access Core -->
    <script src="access_module.js"></script>
    <script src="access.js"></script>
    <script src="access_routes.js"></script>
    <script src="access_controller.js"></script>
    <!--<script src="../../app_client/access_module.js"></script>
    <script src="../../app_client/access_routes.js"></script>
    <script src="../../app_client/access_controller.js"></script>

    <! Access Module &ndash;&gt;
    <script src="login/login-controller.js"></script>
    <script src="register/register-controller.js"></script>
-->
    <!-- Model Services -->
    <!--<script src="app/common/service/access-service.js"></script>-->
    <!--<script src="../common/services/login-service.js"></script>-->
    <!--<script src="app/common/service/register-service.js"></script>-->
    <!--<script src="app/common/services/user-service.js"></script>-->
    <script src="../../common/services/authtentication.js"></script>
</head>
<body ng-app="AccessModule">
    <div class="content-wrapper" style="padding-top:0px;">
        <div class="access-content">
            <h3>Access content goes here</h3>
                <span>{{user}}</span>
            <!--<ul class="access-link">
                <li ><a href="#login" class="access-link-item" ng-click="loginView();">Sign In</a> </li>
                <li ><a href="#register" class="access-link-item" ng-click="registerView();">{{testName}}</a> </li>
            </ul>-->
            <div class="access-auth">
                <div ui-view>

                </div>
            </div>
        </div>

    </div>
</body>
</html>