<div id="main-wrapper">
    <div id="left-navbar" class="mdl-mega-footer__drop-down-section">
        <!--<i class="material-icons">face</i>-->
        <ul id="left-nav-list">
            <li>MQ</li>
            <li class="mdl-button mdl-js-button mdl-button--icon" ><i class="material-icons">public</i></li>
            <li class="mdl-button mdl-js-button mdl-button--icon" ><i class="material-icons">message</i></li>
            <li class="mdl-button mdl-js-button mdl-button--icon" ><i class="material-icons">voice_chat</i></li>
            <li class="mdl-button mdl-js-button mdl-button--icon" ><i class="material-icons">thumb_up</i></li>
            <li class="mdl-button mdl-js-button mdl-button--icon info"><i class="material-icons">help</i></li>
        </ul>

    </div>
    <div id="content-wrapper" class="mdl-color--grey-300">
        <div class="mdl-js-layout mdl-layout--fixed-header navbar-top">
            <header class="mdl-color--white mdl-layout--fixed-header mdl-layout__header--transparent">
                <div class="mdl-layout__header-row mdl-color-text--grey-800">
                    <!-- Title -->
                    <!--<span class="mdl-layout-title">Title</span>-->
                    <nav class="mdl-navigation  menu-left">
                        <a class="mdl-navigation__link" href="">Dash</a>
                        <a class="mdl-navigation__link" href="">Entry</a>
                        <a class="mdl-navigation__link" href="">Board</a>
                        <a class="mdl-navigation__link" href="">Quest</a>
                        <a class="mdl-navigation__link" href="">Zone</a>
                    </nav>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                    <nav class="mdl-navigation menu-right">
                        <div class="mdl-navigation__link menu-icon-text" href=""><span>Link3</span><i
                                class="material-icons md-24">account_balance</i></div>

                        <!--<a class="mdl-navigation__link menu-icon-text" href=""><span>Adeyemi olalekan</span><i
                                class="material-icons md-36">account_circle</i></a>-->
                        <div class="mdl-navigation__link menu-icon-text"><span>Adeyemi Olalekan</span><i
                                class="material-icons md-36">stars</i></div>

                        <a class="mdl-navigation__link mdl-button mdl-js-button mdl-button--icon menu-icon-notext user-bar-icon"
                           href=""><i class="material-icons md-36">account_circle</i></a>

                        <a class="mdl-navigation__link mdl-button mdl-js-button mdl-button--icon  menu-icon-notext" href=""><i
                                class="material-icons">menu</i></a>
                    </nav>

                </div>
            </header>
        </div>

        <section>
            <div id="tt2" class="icon material-icons">print</div>
            <div class="mdl-tooltip mdl-tooltip--large" for="tt2">
                Print
            </div>
        </section>
        <!-- notification left drawer -->
        <!--<section class="mdl-layout mdl-cell&#45;&#45;3-col left-drawer">
            <div class="mdl-layout  mdl-color&#45;&#45;white">
                <h3 class="mdl-layout__header-row">Notifications</h3>
                    <ul class="notify-items-list">
                        <li class="notify-item mdl-grid">
                            <div class="mdl-cell mdl-cell&#45;&#45;4-col drawer-img">
                                <img src="imgs/Butterfly.jpg" height="100%" width="100%">
                            </div>
                            <div class="mdl-layout-spacer"></div>
                            <div class="notify-detail mdl-cell mdl-cell&#45;&#45;9-col">
                                <span class="notify-title">You just joined the program</span>
                                <p class="notify-text">This is the content for you jsut joined .left-drawer
                                    .notify-detail span
                                    .left-drawer .notify-detail span .left-drawer .notify-detail span
                                    .left-drawer .notify-detail span
                                </p>
                                <span class="notify-when">1 day ago</span>
                            </div>

                        </li>
                        <li class="notify-item mdl-grid">
                            <div class="mdl-cell mdl-cell&#45;&#45;4-col drawer-img">
                                <img src="imgs/Butterfly.jpg" height="100%" width="100%">
                            </div>
                            <div class="mdl-layout-spacer"></div>
                            <div class="notify-detail mdl-cell mdl-cell&#45;&#45;9-col">
                                <span class="notify-title">You just joined the program</span>
                                <p class="notify-text">This is the content for you jsut joined .left-drawer
                                    .notify-detail span
                                    .left-drawer .notify-detail span .left-drawer .notify-detail span
                                    .left-drawer .notify-detail span
                                </p>
                                <span class="notify-when">1 day ago</span>
                            </div>

                        </li>
                        <li class="notify-item mdl-grid">
                            <div class="mdl-cell mdl-cell&#45;&#45;4-col drawer-img">
                                <img src="imgs/Butterfly.jpg" height="100%" width="100%">
                            </div>
                            <div class="mdl-layout-spacer"></div>
                            <div class="notify-detail mdl-cell mdl-cell&#45;&#45;9-col">
                                <span class="notify-title">You just joined the program</span>
                                <p class="notify-text">This is the content for you jsut joined .left-drawer
                                    .notify-detail span
                                    .left-drawer .notify-detail span .left-drawer .notify-detail span
                                    .left-drawer .notify-detail span
                                </p>
                                <span class="notify-when">1 day ago</span>
                            </div>

                        </li>
                        <li class="notify-item mdl-grid">
                            <div class="mdl-cell mdl-cell&#45;&#45;4-col drawer-img">
                                <img src="imgs/Butterfly.jpg" height="100%" width="100%">
                            </div>
                            <div class="mdl-layout-spacer"></div>
                            <div class="notify-detail mdl-cell mdl-cell&#45;&#45;9-col">
                                <span class="notify-title">You just joined the program</span>
                                <p class="notify-text">This is the content for you jsut joined .left-drawer
                                    .notify-detail span
                                    .left-drawer .notify-detail span .left-drawer .notify-detail span
                                    .left-drawer .notify-detail span
                                </p>
                                <span class="notify-when">1 day ago</span>
                            </div>

                        </li>
                        <li class="notify-item mdl-grid">
                            <div class="mdl-cell mdl-cell&#45;&#45;4-col drawer-img">
                                <img src="imgs/Butterfly.jpg" height="100%" width="100%">
                            </div>
                            <div class="mdl-layout-spacer"></div>
                            <div class="notify-detail mdl-cell mdl-cell&#45;&#45;9-col">
                                <span class="notify-title">You just joined the program</span>
                                <p class="notify-text">This is the content for you jsut joined .left-drawer
                                    .notify-detail span
                                    .left-drawer .notify-detail span .left-drawer .notify-detail span
                                    .left-drawer .notify-detail span
                                </p>
                                <span class="notify-when">1 day ago</span>
                            </div>

                        </li>
                        <li class="notify-item mdl-grid">
                            <div class="mdl-cell mdl-cell&#45;&#45;4-col drawer-img">
                                <img src="imgs/Butterfly.jpg" height="100%" width="100%">
                            </div>
                            <div class="mdl-layout-spacer"></div>
                            <div class="notify-detail mdl-cell mdl-cell&#45;&#45;9-col">
                                <span class="notify-title">You just joined the program</span>
                                <p class="notify-text">This is the content for you jsut joined .left-drawer
                                    .notify-detail span
                                    .left-drawer .notify-detail span .left-drawer .notify-detail span
                                    .left-drawer .notify-detail span
                                </p>
                                <span class="notify-when">1 day ago</span>
                            </div>

                        </li>
                    </ul>

            </div>

        </section>-->
        <!-- /notification -->
        <!-- Message drawer goes here -->
        <!--<section class="mdl-layout mdl-cell&#45;&#45;3-col left-drawer msg-drawer">
            <div class="mdl-layout mdl-color&#45;&#45;white">
                <div class="mdl-layout__header-row ">
                    <button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect primary-color">
                        New<i class="material-icons">create</i>
                    </button>
                    <div class="unread"><span class="material-icons mdl-badge" data-badge="10">mail</span></div>
                </div>
                <ul class="mdl-layout msg-items-list">
                    <li class="msg-item">
                        <span class="sender">No reply</span>
                        <span class="sender-mail">service@meandyoufun.com</span>
                        <p class="msg-body">This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards</p>
                        <span class="msg-date">29-01-2015</span>
                        <i class="material-icons msg-seen">visibility</i>
                    </li>
                    <li class="msg-item">
                        <span class="sender">No reply</span>
                        <span class="sender-mail">service@meandyoufun.com</span>
                        <p class="msg-body">This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards</p>
                        <span class="msg-date">29-01-2015</span>
                        <i class="material-icons msg-seen">visibility_off</i>
                    </li>
                    <li class="msg-item">
                        <span class="sender">No reply</span>
                        <span class="sender-mail">service@meandyoufun.com</span>
                        <p class="msg-body">This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards</p>
                        <span class="msg-date">29-01-2015</span>
                        <i class="material-icons msg-seen">visibility</i>
                    </li>
                    <li class="msg-item">
                        <span class="sender">No reply</span>
                        <span class="sender-mail">service@meandyoufun.com</span>
                        <p class="msg-body">This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards</p>
                        <span class="msg-date">29-01-2015</span>
                        <i class="material-icons msg-seen">visibility</i>
                    </li>
                    <li class="msg-item">
                        <span class="sender">No reply</span>
                        <span class="sender-mail">service@meandyoufun.com</span>
                        <p class="msg-body">This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards</p>
                        <span class="msg-date">29-01-2015</span>
                        <i class="material-icons msg-seen">visibility_off</i>
                    </li>
                    <li class="msg-item">
                        <span class="sender">No reply</span>
                        <span class="sender-mail">service@meandyoufun.com</span>
                        <p class="msg-body">This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards</p>
                        <span class="msg-date">29-01-2015</span>
                        <i class="material-icons msg-seen">visibility</i>
                    </li>
                    <li class="msg-item">
                        <span class="sender">No reply</span>
                        <span class="sender-mail">service@meandyoufun.com</span>
                        <p class="msg-body">This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards</p>
                        <span class="msg-date">29-01-2015</span>
                        <i class="material-icons msg-seen">visibility_off</i>
                    </li>
                    <li class="msg-item">
                        <span class="sender">No reply</span>
                        <span class="sender-mail">service@meandyoufun.com</span>
                        <p class="msg-body">This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards</p>
                        <span class="msg-date">29-01-2015</span>
                        <i class="material-icons msg-seen">visibility_off</i>
                    </li>
                    <li class="msg-item">
                        <span class="sender">No reply</span>
                        <span class="sender-mail">service@meandyoufun.com</span>
                        <p class="msg-body">This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards</p>
                        <span class="msg-date">29-01-2015</span>
                        <i class="material-icons msg-seen">visibility</i>
                    </li>
                    <li class="msg-item">
                        <span class="sender">No reply</span>
                        <span class="sender-mail">service@meandyoufun.com</span>
                        <p class="msg-body">This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards</p>
                        <span class="msg-date">29-01-2015</span>
                        <i class="material-icons msg-seen">visibility</i>
                    </li>
                    <li class="msg-item">
                        <span class="sender">No reply</span>
                        <span class="sender-mail">service@meandyoufun.com</span>
                        <p class="msg-body">This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards</p>
                        <span class="msg-date">29-01-2015</span>
                        <i class="material-icons msg-seen">visibility_off</i>
                    </li>
                    <li class="msg-item">
                        <span class="sender">No reply</span>
                        <span class="sender-mail">service@meandyoufun.com</span>
                        <p class="msg-body">This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards
                            This is to inform you about the email that was sent you. regards</p>
                        <span class="msg-date">29-01-2015</span>
                        <i class="material-icons msg-seen">visibility</i>
                    </li>
                </ul>
            </div>

        </section>--><!-- /message drawer -->
        <!-- live show -->
            <section class="mdl-layout mdl-cell--3-col left-drawer live-drawer">
                <div class="mdl-layout mdl-color--white">
                    <div class="mdl-layout__header-row ">
                        <span>Live Show</span>
                        <div class="mail-attach mdl-button mdl-button--icon live-header-icon">
                            <i class="material-icons md-18">live_tv</i>
                        </div>
                    </div>
                    <div class="mdl-layout">
                        <ul class="live-items-list">
                            <li class="live-item">
                                <div class="live-item-con">
                                    <div class="live-player-img">
                                        <img src="../public/imgs/face5.png">
                                    </div>
                                    <div class="live-details">
                                        <div class="live-player">
                                            <span>Adekunle</span>
                                            <span>Player</span>
                                            <span>Lagos - Nigeria</span>
                                        </div>
                                        <hr>
                                        <div class="live-host">
                                            <span>Adeyemi</span>
                                            <span>Host</span>
                                            <span>Califonia - USA</span>
                                        </div>
                                    </div>
                                    <div class="live-host-img">
                                        <img src="../public/imgs/face2.jpg">
                                    </div>
                                </div>
                                <hr class="live-item-divider">
                            </li>
                            <li class="live-item">
                                <div class="live-item-con">
                                    <div class="live-player-img">
                                        <img src="../public/imgs/face6.jpg">
                                    </div>
                                    <div class="live-details">
                                        <div class="live-player">
                                            <span>Adekunle</span>
                                            <span>Player</span>
                                            <span>Lagos - Nigeria</span>
                                        </div>
                                        <hr>
                                        <div class="live-host">
                                            <span>Adeyemi</span>
                                            <span>Host</span>
                                            <span>Califonia - USA</span>
                                        </div>
                                    </div>
                                    <div class="live-host-img">
                                        <img src="../public/imgs/face1.jpg">
                                    </div>
                                </div>
                                <hr class="live-item-divider">
                            </li>
                            <li class="live-item">
                                <div class="live-item-con">
                                    <div class="live-player-img">
                                        <img src="../public/imgs/face5.png">
                                    </div>
                                    <div class="live-details">
                                        <div class="live-player">
                                            <span>Adekunle</span>
                                            <span>Player</span>
                                            <span>Lagos - Nigeria</span>
                                        </div>
                                        <hr>
                                        <div class="live-host">
                                            <span>Adeyemi</span>
                                            <span>Host</span>
                                            <span>Califonia - USA</span>
                                        </div>
                                    </div>
                                    <div class="live-host-img">
                                        <img src="../public/imgs/face2.jpg">
                                    </div>
                                </div>
                                <hr class="live-item-divider">
                            </li>
                            <li class="live-item">
                                <div class="live-item-con">
                                    <div class="live-player-img">
                                        <img src="../public/imgs/face3.png">
                                    </div>
                                    <div class="live-details">
                                        <div class="live-player">
                                            <span>Adekunle</span>
                                            <span>Player</span>
                                            <span>Lagos - Nigeria</span>
                                        </div>
                                        <hr>
                                        <div class="live-host">
                                            <span>Adeyemi</span>
                                            <span>Host</span>
                                            <span>Califonia - USA</span>
                                        </div>
                                    </div>
                                    <div class="live-host-img">
                                        <img src="../public/imgs/face1.jpg">
                                    </div>
                                </div>
                                <hr class="live-item-divider">
                            </li>
                            <li class="live-item">
                                <div class="live-item-con">
                                    <div class="live-player-img">
                                        <img src="../public/imgs/face5.png">
                                    </div>
                                    <div class="live-details">
                                        <div class="live-player">
                                            <span>Adekunle</span>
                                            <span>Player</span>
                                            <span>Lagos - Nigeria</span>
                                        </div>
                                        <hr>
                                        <div class="live-host">
                                            <span>Adeyemi</span>
                                            <span>Host</span>
                                            <span>Califonia - USA</span>
                                        </div>
                                    </div>
                                    <div class="live-host-img">
                                        <img src="../public/imgs/face2.jpg">
                                    </div>
                                </div>
                                <hr class="live-item-divider">
                            </li>
                            <li class="live-item">
                                <div class="live-item-con">
                                    <div class="live-player-img">
                                        <img src="../public/imgs/face3.png">
                                    </div>
                                    <div class="live-details">
                                        <div class="live-player">
                                            <span>Adekunle</span>
                                            <span>Player</span>
                                            <span>Lagos - Nigeria</span>
                                        </div>
                                        <hr>
                                        <div class="live-host">
                                            <span>Adeyemi</span>
                                            <span>Host</span>
                                            <span>Califonia - USA</span>
                                        </div>
                                    </div>
                                    <div class="live-host-img">
                                        <img src="../public/imgs/face1.jpg">
                                    </div>
                                </div>
                                <hr class="live-item-divider">
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        <!-- /live show -->
        <!-- compose message view -->
        <section class="mdl-layout compose-view">
            <div class="mdl-layout__header-row mdl-color--grey-400">
                <span>Mail Support </span>
                <i class="material-icons">help_outline</i>
                <div class="mail-attach mdl-button mdl-button--icon close">
                    <i class="material-icons md-18 ">close</i>
                </div>
            </div>
            <div class="mail-head">
                <div class="mail-head-to">
                    <span>To : </span>
                    <span> support@meandyoufun.com</span>
                </div>
                <div class="mail-head-subject">
                    <label for="subject">Subject</label>
                    <select>
                        <option>I can't withdraw from my account</option>
                        <option>I have been suspended</option>
                        <option>What do i need to do to withdraw money from my account</option>
                        <option>Can you halp me please?</option>
                        <option>Got closed account mail</option>
                        <option>I stopped to receive notifications</option>
                        <option>The service is not helping me</option>
                        <option>Others</option>
                    </select>
                    <input type="text" class="mail-subject-input" placeholder="Others">
                </div>

            </div>
            <div class="mail-body">
                <div class="mail-msg" contenteditable="true">
                </div>
                <div class="mail-attach mdl-button mdl-button--icon">
                    <i class="material-icons md-18">attachment</i>
                </div>
            </div>
            <button class="mdl-button mdl-js-button primary-color">Send</button>
        </section>
        <!-- /compose message-->
        <!-- footer goes here -->
        <!--<footer class="mdl-mini-footer">
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">Title</div>
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy & Terms</a></li>
                    </ul>
                </div>
            </footer>

        </footer>--><!-- /footer-->
    </div>


</div>
