<div id="left-navbar" class="mdl-mega-footer__drop-down-section">
    <!--<i class="material-icons">face</i>-->
    <ul id="left-nav-list">
        <li>MQ</li>
        <li class="mdl-button mdl-js-button mdl-button--icon left-navbar-item" data-state="" data-item="notifications" ng-click="activateDrawer('notifications')"><i class="material-icons">public</i></li>
        <li class="mdl-button mdl-js-button mdl-button--icon left-navbar-item" data-state="" data-item="messages" ng-click="activateDrawer('messages')"><i class="material-icons">message</i></li>
        <li class="mdl-button mdl-js-button mdl-button--icon left-navbar-item" data-state="" data-item="live" ng-click="activateDrawer('live')"><i class="material-icons">voice_chat</i></li>
        <li class="mdl-button mdl-js-button mdl-button--icon left-navbar-item" data-state="" data-item="testimony" ng-click="activateDrawer('testimony')"><i class="material-icons">thumb_up</i></li>
        <li class="mdl-button mdl-js-button mdl-button--icon info left-navbar-item" data-state="" data-item="footer" ng-click="activateDrawer('footer')"><i class="material-icons">help</i></li>
    </ul>

</div>