<!-- live show -->
<section class="mdl-layout mdl-cell--3-col left-drawer live-drawer">
    <div class="mdl-layout mdl-color--white" style="position: fixed; width: inherit">
        <div class="mdl-layout__header-row ">
            <span>Live Show</span>
            <div class="mail-attach mdl-button mdl-button--icon live-header-icon">
                <i class="material-icons md-18">live_tv</i>
            </div>
        </div>
        <div class="mdl-layout">
            <ul class="live-items-list">
                <li class="live-item">
                    <div class="live-item-con">
                        <div class="live-player-img">
                            <img src="../public/imgs/face5.png">
                        </div>
                        <div class="live-details">
                            <div class="live-player">
                                <span>Adekunle</span>
                                <span>Player</span>
                                <span>Lagos - Nigeria</span>
                            </div>
                            <hr>
                            <div class="live-host">
                                <span>Adeyemi</span>
                                <span>Host</span>
                                <span>Califonia - USA</span>
                            </div>
                        </div>
                        <div class="live-host-img">
                            <img src="../public/imgs/face2.jpg">
                        </div>
                    </div>
                    <hr class="live-item-divider">
                </li>
                <li class="live-item">
                    <div class="live-item-con">
                        <div class="live-player-img">
                            <img src="../public/imgs/face6.jpg">
                        </div>
                        <div class="live-details">
                            <div class="live-player">
                                <span>Adekunle</span>
                                <span>Player</span>
                                <span>Lagos - Nigeria</span>
                            </div>
                            <hr>
                            <div class="live-host">
                                <span>Adeyemi</span>
                                <span>Host</span>
                                <span>Califonia - USA</span>
                            </div>
                        </div>
                        <div class="live-host-img">
                            <img src="../public/imgs/face1.jpg">
                        </div>
                    </div>
                    <hr class="live-item-divider">
                </li>
                <li class="live-item">
                    <div class="live-item-con">
                        <div class="live-player-img">
                            <img src="../public/imgs/face5.png">
                        </div>
                        <div class="live-details">
                            <div class="live-player">
                                <span>Adekunle</span>
                                <span>Player</span>
                                <span>Lagos - Nigeria</span>
                            </div>
                            <hr>
                            <div class="live-host">
                                <span>Adeyemi</span>
                                <span>Host</span>
                                <span>Califonia - USA</span>
                            </div>
                        </div>
                        <div class="live-host-img">
                            <img src="../public/imgs/face2.jpg">
                        </div>
                    </div>
                    <hr class="live-item-divider">
                </li>
                <li class="live-item">
                    <div class="live-item-con">
                        <div class="live-player-img">
                            <img src="../public/imgs/face3.png">
                        </div>
                        <div class="live-details">
                            <div class="live-player">
                                <span>Adekunle</span>
                                <span>Player</span>
                                <span>Lagos - Nigeria</span>
                            </div>
                            <hr>
                            <div class="live-host">
                                <span>Adeyemi</span>
                                <span>Host</span>
                                <span>Califonia - USA</span>
                            </div>
                        </div>
                        <div class="live-host-img">
                            <img src="../public/imgs/face1.jpg">
                        </div>
                    </div>
                    <hr class="live-item-divider">
                </li>
                <li class="live-item">
                    <div class="live-item-con">
                        <div class="live-player-img">
                            <img src="../public/imgs/face5.png">
                        </div>
                        <div class="live-details">
                            <div class="live-player">
                                <span>Adekunle</span>
                                <span>Player</span>
                                <span>Lagos - Nigeria</span>
                            </div>
                            <hr>
                            <div class="live-host">
                                <span>Adeyemi</span>
                                <span>Host</span>
                                <span>Califonia - USA</span>
                            </div>
                        </div>
                        <div class="live-host-img">
                            <img src="../public/imgs/face2.jpg">
                        </div>
                    </div>
                    <hr class="live-item-divider">
                </li>
                <li class="live-item">
                    <div class="live-item-con">
                        <div class="live-player-img">
                            <img src="../public/imgs/face3.png">
                        </div>
                        <div class="live-details">
                            <div class="live-player">
                                <span>Adekunle</span>
                                <span>Player</span>
                                <span>Lagos - Nigeria</span>
                            </div>
                            <hr>
                            <div class="live-host">
                                <span>Adeyemi</span>
                                <span>Host</span>
                                <span>Califonia - USA</span>
                            </div>
                        </div>
                        <div class="live-host-img">
                            <img src="../public/imgs/face1.jpg">
                        </div>
                    </div>
                    <hr class="live-item-divider">
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- /live show -->