 <!--Message drawer goes here -->
<section class="mdl-layout mdl-cell--3-col left-drawer msg-drawer">
    <div class="mdl-layout mdl-color--white" style="position: fixed; width: inherit">
        <div class="mdl-layout__header-row ">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect primary-color">
                New<i class="material-icons">create</i>
            </button>
            <div class="unread"><span class="material-icons mdl-badge" data-badge="10">mail</span></div>
        </div>
        <ul class="mdl-layout msg-items-list">
            <li class="msg-item">
                <span class="sender">No reply</span>
                <span class="sender-mail">service@meandyoufun.com</span>
                <p class="msg-body">This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards</p>
                <span class="msg-date">29-01-2015</span>
                <i class="material-icons msg-seen">visibility</i>
            </li>
            <li class="msg-item">
                <span class="sender">No reply</span>
                <span class="sender-mail">service@meandyoufun.com</span>
                <p class="msg-body">This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards</p>
                <span class="msg-date">29-01-2015</span>
                <i class="material-icons msg-seen">visibility_off</i>
            </li>
            <li class="msg-item">
                <span class="sender">No reply</span>
                <span class="sender-mail">service@meandyoufun.com</span>
                <p class="msg-body">This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards</p>
                <span class="msg-date">29-01-2015</span>
                <i class="material-icons msg-seen">visibility</i>
            </li>
            <li class="msg-item">
                <span class="sender">No reply</span>
                <span class="sender-mail">service@meandyoufun.com</span>
                <p class="msg-body">This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards</p>
                <span class="msg-date">29-01-2015</span>
                <i class="material-icons msg-seen">visibility</i>
            </li>
            <li class="msg-item">
                <span class="sender">No reply</span>
                <span class="sender-mail">service@meandyoufun.com</span>
                <p class="msg-body">This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards</p>
                <span class="msg-date">29-01-2015</span>
                <i class="material-icons msg-seen">visibility_off</i>
            </li>
            <li class="msg-item">
                <span class="sender">No reply</span>
                <span class="sender-mail">service@meandyoufun.com</span>
                <p class="msg-body">This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards</p>
                <span class="msg-date">29-01-2015</span>
                <i class="material-icons msg-seen">visibility</i>
            </li>
            <li class="msg-item">
                <span class="sender">No reply</span>
                <span class="sender-mail">service@meandyoufun.com</span>
                <p class="msg-body">This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards</p>
                <span class="msg-date">29-01-2015</span>
                <i class="material-icons msg-seen">visibility_off</i>
            </li>
            <li class="msg-item">
                <span class="sender">No reply</span>
                <span class="sender-mail">service@meandyoufun.com</span>
                <p class="msg-body">This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards</p>
                <span class="msg-date">29-01-2015</span>
                <i class="material-icons msg-seen">visibility_off</i>
            </li>
            <li class="msg-item">
                <span class="sender">No reply</span>
                <span class="sender-mail">service@meandyoufun.com</span>
                <p class="msg-body">This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards</p>
                <span class="msg-date">29-01-2015</span>
                <i class="material-icons msg-seen">visibility</i>
            </li>
            <li class="msg-item">
                <span class="sender">No reply</span>
                <span class="sender-mail">service@meandyoufun.com</span>
                <p class="msg-body">This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards</p>
                <span class="msg-date">29-01-2015</span>
                <i class="material-icons msg-seen">visibility</i>
            </li>
            <li class="msg-item">
                <span class="sender">No reply</span>
                <span class="sender-mail">service@meandyoufun.com</span>
                <p class="msg-body">This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards</p>
                <span class="msg-date">29-01-2015</span>
                <i class="material-icons msg-seen">visibility_off</i>
            </li>
            <li class="msg-item">
                <span class="sender">No reply</span>
                <span class="sender-mail">service@meandyoufun.com</span>
                <p class="msg-body">This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards
                    This is to inform you about the email that was sent you. regards</p>
                <span class="msg-date">29-01-2015</span>
                <i class="material-icons msg-seen">visibility</i>
            </li>
        </ul>
    </div>

</section>
 <!--/message drawer-->