 <!--notification left drawer -->
<section class="mdl-layout mdl-cell--3-col left-drawer">
    <div class="mdl-layout  mdl-color--white fixed-con">
        <h3 class="mdl-layout__header-row">Notifications</h3>
            <ul class="notify-items-list">
                <li class="notify-item mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col drawer-img">
                        <img src="imgs/Butterfly.jpg" height="100%" width="100%">
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="notify-detail mdl-cell mdl-cell--9-col">
                        <span class="notify-title">You just joined the program</span>
                        <p class="notify-text">This is the content for you jsut joined .left-drawer
                            .notify-detail span
                            .left-drawer .notify-detail span .left-drawer .notify-detail span
                            .left-drawer .notify-detail span
                        </p>
                        <span class="notify-when">1 day ago</span>
                    </div>

                </li>
                <li class="notify-item mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col drawer-img">
                        <img src="imgs/Butterfly.jpg" height="100%" width="100%">
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="notify-detail mdl-cell mdl-cell--9-col">
                        <span class="notify-title">You just joined the program</span>
                        <p class="notify-text">This is the content for you jsut joined .left-drawer
                            .notify-detail span
                            .left-drawer .notify-detail span .left-drawer .notify-detail span
                            .left-drawer .notify-detail span
                        </p>
                        <span class="notify-when">1 day ago</span>
                    </div>

                </li>
                <li class="notify-item mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col drawer-img">
                        <img src="imgs/Butterfly.jpg" height="100%" width="100%">
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="notify-detail mdl-cell mdl-cell--9-col">
                        <span class="notify-title">You just joined the program</span>
                        <p class="notify-text">This is the content for you jsut joined .left-drawer
                            .notify-detail span
                            .left-drawer .notify-detail span .left-drawer .notify-detail span
                            .left-drawer .notify-detail span
                        </p>
                        <span class="notify-when">1 day ago</span>
                    </div>

                </li>
                <li class="notify-item mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col drawer-img">
                        <img src="imgs/Butterfly.jpg" height="100%" width="100%">
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="notify-detail mdl-cell mdl-cell--9-col">
                        <span class="notify-title">You just joined the program</span>
                        <p class="notify-text">This is the content for you jsut joined .left-drawer
                            .notify-detail span
                            .left-drawer .notify-detail span .left-drawer .notify-detail span
                            .left-drawer .notify-detail span
                        </p>
                        <span class="notify-when">1 day ago</span>
                    </div>

                </li>
                <li class="notify-item mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col drawer-img">
                        <img src="imgs/Butterfly.jpg" height="100%" width="100%">
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="notify-detail mdl-cell mdl-cell--9-col">
                        <span class="notify-title">You just joined the program</span>
                        <p class="notify-text">This is the content for you jsut joined .left-drawer
                            .notify-detail span
                            .left-drawer .notify-detail span .left-drawer .notify-detail span
                            .left-drawer .notify-detail span
                        </p>
                        <span class="notify-when">1 day ago</span>
                    </div>

                </li>
                <li class="notify-item mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col drawer-img">
                        <img src="imgs/Butterfly.jpg" height="100%" width="100%">
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="notify-detail mdl-cell mdl-cell--9-col">
                        <span class="notify-title">You just joined the program</span>
                        <p class="notify-text">This is the content for you jsut joined .left-drawer
                            .notify-detail span
                            .left-drawer .notify-detail span .left-drawer .notify-detail span
                            .left-drawer .notify-detail span
                        </p>
                        <span class="notify-when">1 day ago</span>
                    </div>

                </li>
            </ul>

    </div>
    </div>
</section>
 <!--/notification-->