<div class="mdl-js-layout mdl-layout--fixed-header navbar-top">
    <header class="mdl-color--white mdl-layout--fixed-header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row mdl-color-text--grey-800">
            <!-- Title -->
            <!--<span class="mdl-layout-title">Title</span>-->
            <nav class="mdl-navigation  menu-left">
                <a class="mdl-navigation__link" href="/dash" >Dash</a>
                <a class="mdl-navigation__link" href="/entry">Entry</a>
                <a class="mdl-navigation__link" href="/gameboard">Board</a>
                <a class="mdl-navigation__link" href="/finalquest" >Quest</a>
                <a class="mdl-navigation__link" href="/account" >Zone</a>
            </nav>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer" style="text-align: center">Game Lucre<i class="material-icons">star</i></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation menu-right">
                <div class="mdl-navigation__link menu-icon-text" href=""><span>Link3</span><i
                        class="material-icons md-24">account_balance</i></div>

                <!--<a class="mdl-navigation__link menu-icon-text" href=""><span>Adeyemi olalekan</span><i
                        class="material-icons md-36">account_circle</i></a>-->
                <div class="mdl-navigation__link menu-icon-text"><span>Adeyemi Olalekan</span><i
                        class="material-icons md-36">stars</i></div>

                <nav class="mdl-navigation__link popup-menu">
                    <div class="drop">
                        <a class="mdl-button--icon menu-icon-notext user-bar-icon" href="">
                            <i class="material-icons md-36">account_circle</i>
                        </a>
                        <div class="dropdownContain">
                            <div class="arrow-menu">
                                <div class="profile-menu">
                                    <a href=""  class="profile-link">profile</a>
                                    <div class="menu-divider"></div>
                                    <a href=""  class="account-link">account</a>
                                </div>
                                <a href="logout"  class="logout">Log Out</a>
                            </div>
                        </div>
                    </div>
                </nav>


                <nav class="mdl-navigation__link popup-menu ">
                    <div class="drop">
                        <a class="mdl-button mdl-button--icon  menu-icon-notext" href=""><i
                                class="material-icons">menu</i>
                        </a>
                        <div class="dropdownContain">
                            <div class="arrow-menu">
                                <ul>
                                    <li><a href="">History</a> </li>
                                    <li><a href="">Settings</a> </li>
                                    <li><a href="">MQ</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>



            </nav>

        </div>
    </header> 

</div>

