<div id="host-menu">
    <ul class="host-menu">
        <li class="host-menu-item">
            <a href="" ui-sref="dash" ng-href="dash" data-link="dash">Dash</a>
        </li>
        <li class="host-menu-item">
            <a ui-sref="game" data-link="add-host" ng-href="game">Game</a>
        </li>
        <li class="host-menu-item">
            <a href="" data-link="game-settings">Profile</a>
        </li>
        <li class="host-menu-item">
            <a href="" data-link="add-host">Game Setting</a>
        </li>
        <li class="host-menu-item">
            <a href="" ng-click="hostMenu.logout()" data-link="add-host">Logout</a>
        </li>
    </ul>
</div>